/* Основная секция */
.contact-main {
  min-height: calc(80vh - 120px);
  display: flex;
  align-items: center;
  padding: 83px 0;
  justify-content: center;
}

/* Сетка контейнера */
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки на десктопе */
  gap: 140px;
  align-items: center;
}

/* Заголовок */
.contact-content h1 {
  font-size: clamp(72px, 5vw, 82px); /* Резиновый шрифт */
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 40px;
  color: var(--body-color-text);
}

.contact-content h1 span {
  color: var(--bg-btn-about3d);
}

/* Ссылки */
.social-links p {
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--body-color-text);
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--body-color-text);
  font-size: 32px;
  transition: opacity 0.3s;
}

.social-item:hover {
  opacity: 0.7;
}

.social-item img {
  width: 36px;
  height: 36px;
}

/* Изображение */
.contact-image img {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  object-position: top center;
  border: 4px solid var(--border-aboutimage);
}
.container {
  display: flex;
  justify-content: center;
}
.freelance {
  padding: 100px 0;
}
.freelance-text {
  padding-right: 50px;
}

@media (max-width: 2300px) {
  .freelance {
    padding-top: 130px;
  }
}

@media (max-width: 1920px) {
  .contact-main {
    padding-bottom: 300px;
  }
  .contact-content h1 {
    font-size: 52px;
  }
  .contact-image img {
    width: 500px;
    height: 500px;
  }
  .contact-grid {
    gap: 40px;
  }
}
