.hero {
  max-width: 1200px;
  display: flex;
  align-items: center; /* по вертикали */
  justify-content: center; /* по горизонтали */
  height: 100vh; /* вычитаем высоту хедера */
  gap: 180px;
  margin: 0 auto;
  padding-bottom: 150px;
}

.hero-text {
  flex: 1;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}
.intro {
  font-weight: 600;
  font-size: 46px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.hero-image {
  flex: 1;
  text-align: right;
  transform: translateY(20px);
  animation: fadeInUp 1s ease 0.3s forwards;
}

.hero-image img {
  width: 820px;
  border-radius: 148px;
  border: 2px solid #b8c0cc;
  object-fit: cover;
}

h1 {
  font-size: 72px;
  line-height: 1.1;
  margin: 0 0 24px;
  font-weight: 700;
}

.btn-mod {
  width: 380px;
  display: inline-block;
  transition: transform 0.2s ease, background 0.2s ease;
  padding: 30px 30px;
  font-size: 36px;
}

/* Second */

.services {
  height: 100vh;
  background: var(--bg-color-home2);
  color: var(--bg-color-btn-text);
  text-align: center;
}

.services-grid {
  display: flex;
  justify-content: center;
  gap: 60px;
  max-width: 1600px;
  margin: 0 auto;
}

.service-card {
  position: relative;
  overflow: hidden;
  border-radius: 48px;
  width: 600px;
  height: 600px;
  transform: translateY(30px);
  animation: fadeInUp 1s ease forwards;
}
.service-card-mod {
  width: 600px; /* твой размер */
  height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  grid-template-rows: repeat(2, 1fr); /* 2 строки */
  gap: 5px;
}
.service-card-mod img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* чтобы картинка не деформировалась */
  border-radius: 1px;
}
.service-card:nth-child(1) {
  animation-delay: 0.1s;
}
.service-card:nth-child(2) {
  animation-delay: 0.3s;
}
.service-card:nth-child(3) {
  animation-delay: 0.5s;
}
.service-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 48px;
  transition: transform 0.4s ease;
}
.service-card:hover img {
  transform: scale(1.05);
}
.service-card h3 {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--bg-color-btn-text);
  font-size: 62px;
  font-weight: 600;
  background-color: rgba(94, 93, 189, 0.5);
  border-radius: 10px;
}

.section-tag-services {
  margin-top: 20px;
  background: var(--bg-color-tag2);
  margin-bottom: 100px;
}

/* work */

.work {
  height: 100vh;
  text-align: center;
}

.work h2 {
  font-size: 36px;
  font-weight: 600;
}

.work-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.work-item {
  width: 360px;
  height: 360px;
  border-radius: 40px;
  overflow: hidden;
  border: 2px solid #c6cacc;
  transform: translateY(30px);

  animation: fadeInUp 1s ease forwards;
}

.work-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-tag-work {
  margin-top: 15px;
}

/* ---- ABOUT ---- */

.about {
  background: url("../img/image.png") no-repeat center/cover;
  height: 100vh;
  color: var(--bg-about-answer);
  padding: 100px 10%;
  position: relative;
}

.about-container {
  display: flex;
  gap: 50px;
  position: relative;
  z-index: 1;
  justify-content: center;
}

.about-image img {
  width: 720px;
  height: auto;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
.about-text {
  font-size: 62px;
}
.section-tag-about {
  background: var(--border-aboutimage);
  color: var(--body-color-text);
}
/* ---- TESTIMONIALS ---- */

.testimonials {
  padding: 10px 10%;
  text-align: center;
}
.section-tag-mod {
  margin-top: 50px;
  margin-bottom: 100px;
}

.testimonial {
  display: flex;
  justify-content: center;
  gap: 150px;
  flex-wrap: wrap;
  max-width: 1600px;
}
.testimonials-header {
  font-size: 25px;
}

/* ---- FREELANCE ---- */

.testimonial-image img {
  width: 700px;
  height: 700px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.testimonial_comment {
  font-size: 62px;
}
.author {
  padding-top: 15px;
  font-size: 45px;
  text-align: right;
}
.testimonial_comment {
  padding-top: 100px;
}
.section-tag-footer {
  margin-top: 20px;
}

html,
body {
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.testimonial-container {
  position: relative;
  width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  gap: 100px;
  align-items: flex-start;
}

.testimonial-item.active {
  opacity: 1;
  position: relative;
}

.testimonial-prev,
.testimonial-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 2;
}

.testimonial-prev {
  left: -290px;
}

.testimonial-next {
  right: -290px;
}

.testimonial-prev:hover,
.testimonial-next:hover {
  background: rgba(0, 0, 0, 0.5);
}
/* scroll */
html,
body {
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.header,
.services,
.work,
.about,
footer {
  scroll-snap-align: start;
}

/* --- Адаптив для больших экранов до 2560px --- */
@media (max-width: 1920px) {
  .about-text {
    font-size: 42px;
  }
  .testimonial-prev {
    left: -170px;
  }

  .testimonial-next {
    right: -110px;
  }
  .testimonial-image img {
    width: 350px;
    height: 350px;
  }
}
